
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{

            /* background: url(/images/Screenshot\ 2025-10-25\ 003023.png); */
            /* background-image: linear-gradient(40deg, rgb(22, 22, 22) 24.16%, rgba(6, 10, 23, 0) 56.61%), linear-gradient(180deg, rgb(22, 22, 22) 3.91%, rgba(6, 10, 23, 0) 69.26%),url(/images/Screenshot\ 2025-10-25\ 003023.png); */

        }
        .image-clk-content{
            width: 100%;
            height: 100vh;
            background-image: linear-gradient(rgba(0,0,0,0.5)),linear-gradient(rgba(0,0,0,0.5)),
            url(images/Screenshot\ 2025-10-25\ 003023.png);
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
        
        }
        .full-content{
            height: 80vh;
            width: 55%;
            /* background-color: blueviolet; */
            border: 1px solid gray;
            border-radius: 10px;
            background: url(images/click-content-img-four.webp);
            background-repeat: no-repeat;
            /* background-position: fixed; */
            background-size: 100% 100%;
            position: relative;

        }
        /* .content-img{
            width: 100%;
            height: 70%;
            background: url(images/click-content-img-lion.webp);
            
            
        } */
        .content-down{
            position: absolute;
            top: 40%;
            left: 5%;
        }
        .content-down img{
            height: 120px;
            width: 120px;
        }
        .content-down button{
            padding: 5px;
            color: #ffffffe3;
            background-color: rgb(53, 50, 50);
            border: 1px solid rgb(53, 50, 50) ;
            border-radius: 3px;
            margin-top: 15px;
            margin-left: 5px ;
            margin-bottom: 25px;
        }
        .content-down p{
            font-size: 18px;
            font-weight: 300;
            text-align: justify;
             padding: 0px 20px 0px 5px;

        }
        #start-btn{
            width: 39%;
            background: #db0001;
            padding: 15px;
            border-radius: 5px;
            color: #fff;
            font-weight: 500;
            font-size: 20px;
            cursor: pointer;
            border: 2px solid #db0001;
        }
        #cross-btn{
            position: absolute;
            right: 5%;
            top: -63%;
            /* background-color: #fff; */
            border: 1px solid #fff;
        }
         @media screen and (max-width:575px) {
            .image-clk-content .full-content{
                width: 100%;
                height: 80vh;
                /* margin: auto; */
            }
            
        }
        @media screen and (min-width:576px) and (max-width:1199px){
            .image-clk-content .full-content{
                width: 70%;
                height: 84vh;
                margin: auto;
            }          
            #start-btn{
                width: 43%;
                margin: auto;
                height: 10%;
                padding: 10px;
                margin-top: 10px;
            }  
        }

        
        




    