
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            /* font-family:  Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif; */
            /* font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif; */
        }
        body{
            background: #000;
            color: #fff;
            font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

        }

        /* header starts */


        .header{
            width: 100%;
            height: 100vh;
            background-image: linear-gradient(rgba(0,0,0,0.5)),linear-gradient(rgba(0,0,0,0.5)),
            url(images/netflix_bg.jpg);
            background-size: cover;
            background-position: center;
            padding: 10px 8%;
            position: relative;

        }
        nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0;
            /* cursor: pointer; */

        }
        .header .logo{
            /* height: 100px; */
            width:150px ;
            cursor: pointer;
        }
        .header-btn select{
            padding: 5px 20px;
            background: transparent;
            /* border: 1px solid #fff; */
            color: #fff;
            font-size: 12px;
            cursor: pointer;
        }
        select option{
            color: #000;
        }
        .header-btn button{
            padding: 5px 20px;
            background:#db0001;
            border: 1px solid #fff;
            color: #fff;
            margin-left: 10px;
            cursor: pointer;
        }
        .header a{
            color: #fff;
            text-decoration: none;
        }
        .header-content{
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
            margin-top: 100px;
        }
        .header-content h1{
            font-size: 60px;
            line-height: 70px;
            font-weight: 600;
            /* max-width: 650px; */
            margin-bottom: 20px;
        }
        .header-content h3{
            font-weight: 400;
            margin-bottom: 30px;
        }
        .header-content p{
            margin-bottom: 30px;
            font-weight: 200;
        }
         .email{
            /* background: #fff; */
            border-radius: 7px;
            /* display: flex; */
            /* align-items: center; */
            margin-top: 30px;
            overflow: hidden;
        }
        .email input{
            /* flex: 1; */
            width: 59%;
            font-size: 15px;
            font-weight: 500;
            background: transparent;
            padding: 15px 50px 15px 10px; 
            border: 2px solid whitesmoke;
            cursor: pointer;
            margin-right: 5px;
            
        }
        .email button{
            width: 39%;
            background: #db0001;
            padding: 15px;
            border-radius: 5px;
            color: #fff;
            font-weight: 500;
            font-size: 20px;
            cursor: pointer;
            border: 2px solid #db0001;
        }
        .line{
            width: 100%;
            height: 50px;
            /* background-color: #db0001; */
            /* border-radius: 50% 50% 0 0; */
            /* background: linear-gradient( to left ,blue,red,blue); */
            /* background-color: #fff; */
            /* background-color: #db0001;
            border-bottom-left-radius: 50%  100px;
            border-bottom-right-radius: 50%  100px;
            border-top-left-radius:50% 100px ;
            border-top-right-radius: 50% 100px; */
        }
        .line1{
            width: 100%;
            height: 5px;
            border-radius: 50% 50% 0 0;
            background: linear-gradient( to left ,blue,red,blue);

        }

        /*  header finish */


        /*  main-content start */

        .main-content{
            /* height: 1000px; */
            width: 80%;
            margin: auto;
            /* background:#000; */
            
        }
         
        .content1{
            max-height: 300px;
            width: 100%;
            border-radius: 10px;
            /* background:blueviolet; */
            display: flex;
            gap: 40px;
            overflow-x: auto;
            /* overflow-y: hidden; */
            /* border:2px solid #db0001; */
            /* margin:auto; */
            /* position: relative; */
           
        }
        .content1::-webkit-scrollbar{
            width: 0;
        }
        .content1 .content1-image{
            min-width: 200px;
            height: auto;
            /* max-height:250px; */
            cursor: pointer;
            position: relative;
            /* border-radius: 10px; */
            /* border-radius: 50%; */
            

        }
        .content1-image{
            border-radius: 20px;
            /* border:  2px solid #db0001; */
        }
        .content1-image img{
            border-radius: 15px;
            /* border:  2px solid #db0001; */
        }
       
        
        .content1 p{
            font-weight: 800;
            font-size: 90px;
            color: #000;
            position: absolute;
            bottom: 1rem;
            left: -1.5rem;
            padding: 2px;
            text-shadow: 0px 0px 5px #fff;
            z-index: 5;
        }

        /* content1 end */


        /* content2 starts */

        .content2{
            /* height: 300px; */
            width: 100%;
            margin-bottom: 60px;
            /* background: #fff; */
            display: flex;
            /* padding: 10px; */
            /* margin-top: 20px; */
            /* position: relative; */
        }
        .content2 .content2-box{
            width: 25%;
            height:300px;
            /* border:1px solid #db0001; */
            background: linear-gradient(-45deg,rgb(146, 60, 60),rgb(26, 26, 66),rgb(26, 26, 66),rgb(47, 47, 139));
            margin: 10px;
            border-radius: 15px;

            padding: 10px;
            position: relative;
            
        }
        .content2-box h3{
            font-size: 20px;
            font-weight: 900;
            padding: 5px;
            margin-top: 20px;
            margin-bottom: 15px;

        }
        .content2-box p{
            font-size: 18px;
            padding: 10px;
            margin-top: 10px;
        }
        .content2-box img{
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 10px;
        }

        /* content2 ends */


        /* content3 starts */
       
        .content3{
           /* max-height:600px; */
           width: 100%;
           cursor: pointer;
           /* padding: 10px; */
           
        }
        .content3 .content3-box{
            height: 90px;
            width: 100%;
            background: rgba(46, 42, 42, 0.589);
            display: flex;
            align-items: center;
            padding-left: 30px;
            margin: 10px;
            position: relative;
            font-size: 25px;
        }
        .content3-box span{
            position: absolute;
            right: 30px;
            font-size: 30px;
        }
         .side-heading{
            margin-bottom: 30px;
            margin-top: 20px;
        }

        /* content 3 ends */


        /* content4 strts */

        .content4{
            width: 100%;
            margin-top: 70px;
            margin-bottom: 50px;
        }
        .content4-box{
            width: 70%;
            margin: auto;
            text-align: center;
        }

        /* content4 ends */


        /* content5 starts */

        .content5{
            width: 100%;
            /* background: #db0001; */
        }
        .content5 ul{
            /* width: 100%; */
            /* display: grid; */
            /* grid-template-columns: 1fr 1fr 1fr 1fr; */
            /* grid-template-rows: 1fr 1fr 1fr 1fr; */
            color: rgba(255,255,255,0.7);
             /* text-decoration: underline; */
            list-style: none;
            /* padding: 20px; */
        }
        .content5 ul li{
            padding: 10px;
            width: 20%;
            display: inline-block;
             text-decoration: underline;
            /* float: left; */
            /* clear: both; */
        }
        .content5 ul li a{
            color: rgba(255,255,255,0.7);
            text-decoration: none;
            font-size: 14px;
            font-weight: 400;
            /* text-decoration: underline; */
            
        }
        /* .footer-btn{clear: both;} */
        .footer-btn select{
            padding: 5px 20px;
            background: transparent;
            border: 1px solid rgba(255,255,255,0.7);
            color: rgba(255,255,255,0.7);
            font-size: 12px;
            cursor: pointer;
            margin-top: 20px;
        }
        .content5 p{
            color: rgba(255,255,255,0.7);
            margin-top: 40px;
            margin-bottom: 50px;
        }
        .content5 p a{
            color: rgba(255,255,255,0.7);
            font-weight: bold;
        }
        #footer-color{
            color: blue;
        }

        /* content5 ends */




        /*hover functions  */
        /* .content1-image span :hover{
            position: fixed;
             bottom: 1rem;
            left: -1.5rem;

        } */
        .content1 .content1-image:hover{
                 
            /* background: rgb(101, 101, 220); */
            transform: scale(1.05,1.05);
            transition: transform .5s linear;
        


            /* transform:translateZ(100px); */
            /* transition: transform; */
            /* transform: scaleX(50px); */
            /* height: 310px; */
            /* transition: transform; */
            /* transition-duration: 5s; */
            /* transition-timing-function: linear; */
            /* transition: 4s linear; */
            /* transform: scale(1.2); */
            /* box-shadow: 0 0 40px -10px rgba(0,0,0,0.25); */
            /* perspective-origin: 900px; */
            /* position: fixed; */
        }
        /* .hidden{
            height: 100%;
            width: 100%;
            background: #fff;
        } */
        .content3 :hover{
            
            background: linear-gradient(-45deg,rgba(46, 42, 42, 1));
        }
 

         /* .content5 ul li a:hover{
            color: red;
        } */

         .content5 ul li a:active{
            color: red;
            transition: 1s ease;
        }

        /* hover actions finish */



        /* media query strats */
        



        /* 4-boxes arrange  */

       @media screen and (min-width:786px) and (max-width:1200px)
       {
        .content2{
            /* width: 100%; */
            display: block;
            /* float: left; */
            
        }
        .content2 .content2-box{
            width: 45%;
            
            float: left;
            /* display: inline-block; */

        }
       
        }
        @media screen and (max-width:786px){
           .content2{
            /* width: 100%; */
            display: block;
           }
           .content2 .content2-box{
            width: 100%;
           }
        }
            
        /* header content arrange */

        @media screen and (max-width:576px) {
            .header-content{
                width: 80%;
                /* height: 500px; */
            }
             .header-content .email input{
                width: 80%;
                margin-bottom: 10px;

            }
            .header-content .email button{
                width: 50%;
                margin: auto;
            }
        }
        @media screen and (min-width:576px) and (max-width:957px) {
            .header-content{
                width: 80%;
                /* height: auto; */
            }
             .header-content .email input{
                width: 80%;
                margin-bottom: 10px;

            }
             .header-content .email button{
                width: 50%;
                margin: auto;
            }
        }
 
        /* content4 email btn arrange */

        @media screen and (max-width:856px) {
            .content4-box{
                width: 100%;
            }
            .content4-box .email input{
                width: 80%;
                margin-bottom: 10px;
                margin: auto;
                
            }
            .content4-box .email button{
                width: 50%;
                margin-top: 10px;
            }

            
        }

        /* content3 p tag arrange */

        @media screen and (max-width:576px) {
            .content3 .content3-box p{
                width: 80%;
            }
            
        }


        /*  footer link align query */

        @media screen and (max-width:576px) {
            .content5{
                width: 100%;
                height: auto;
                /* height: max-content; */
                
            }
            .content5 ul li{
                width: 100%;
               
            }
        }
        @media screen and (min-width:576px) and (max-width:876px) {
            .content5{
                width: 100%;
                height: auto;
                /* height: max-content; */
                
            }
            .content5 ul li{
                width: 50%;
                float: left;
                
            }
            
        }
        @media screen and (min-width:876px) and (max-width:1200px) {
            .content5{
                width: 100%;
                height: auto;
                
                
            }
            .content5 ul li{
                width: 30%;
                float: left;
                
            }
            
        }
            nav img:hover{
            transform: scale(1.5,1.5);
            transition: transform 5s linear;
        }
         
        .header-content{
            
        
            animation: zoom 1s  2;
        }
        @keyframes zoom{
            100%{
                transform:scale(2,0); 
            }
          
        }
          input:focus{
            color: white;
        }
          .content2-box:hover{
            transform: scale(1.05,1.05);
            transition: transform 2s linear;
        }

        #demo1{
            background-color: rgba(46, 42, 42, 0.589);
            padding: 25px;
            width: 100%;
            margin-left: 10px;
            text-align: justify;margin-top: -10px;
        }
        #demo2{
            background-color: rgba(46, 42, 42, 0.589);
            padding: 25px;
            width: 100%;
            margin-left: 10px;
            text-align: justify;margin-top: -10px;
        }
        #demo3{
            background-color: rgba(46, 42, 42, 0.589);
            padding: 25px;
            width: 100%;
            margin-left: 10px;
            text-align: justify;margin-top: -10px;
        }
        #demo4{
            background-color: rgba(46, 42, 42, 0.589);
            padding: 25px;
            width: 100%;
            margin-left: 10px;
            text-align: justify;margin-top: -10px;
        }
        #demo5{
            background-color: rgba(46, 42, 42, 0.589);
            padding: 25px;
            width: 100%;
            margin-left: 10px;
            text-align: justify;
            margin-top: -10px;
        }
        #demo6{
            background-color: rgba(46, 42, 42, 0.589);
            padding: 25px;
            width: 100%;
            margin-left: 10px;
            text-align: justify;
            margin-top: -10px;
        }



    