    
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family:  Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
        }
        body{
            background: #000;
            color: #fff;

        }
        .header{
            width: 100%;
            height: 100vh;
            background-image: linear-gradient(rgba(0,0,0,0.5)),linear-gradient(rgba(0,0,0,0.5)),
            url(images/netflix_bg.jpg);
            background-size: cover;
            background-position: center;
            padding: 10px 8%;
            position: relative;

        }
        .header .logo{
            /* height: 100px; */
            width:150px ;
            cursor: pointer;
        }
        .login-content{
            width: 50%;
            height: 90vh;
            background:#000;
            /* background: transparent; */
            /* opacity: .5; */
            margin: auto;
            padding: 50px;
        }
        .login-content h3{
            /* opacity: 1; */
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 5px;
        }
        /* .login-content input,button{ */
            /* width: 100%; */
            /* border: 1px solid #fff; */
            /* background: transparent; */
            /* height: 40px; */
            /* margin-top: 10px; */
            /* margin-bottom: 10px; */
            /* padding: 20px; */
            /* font-size: 15px; */
            /* font-weight: 400; */
            /* border-radius: 5px; */
        /* } */
        .sign-box{
            padding: 5px  10px;
            border: 1px solid #fff;
              width: 100%;
            /* border: 1px solid #fff; */
            background: transparent;
            height: 40px;
            margin-top: 10px;
            margin-bottom: 10px;
            /* padding: 20px; */
            font-size: 15px;
            font-weight: 400;
            border-radius: 5px;

        }
        #red-btn{
            background: #f50404;
            color: #fff;
            margin: auto;
            border: 1px solid#f50404;
            /* text-align: center; */
              width: 100%;
            /* border: 1px solid #fff; */
            /* background: transparent; */
            height: 40px;
            margin-top: 10px;
            margin-bottom: 10px;
            /* padding: 20px; */
            font-size: 15px;
            font-weight: 400;
            border-radius: 5px;
        }
        #grey-btn{
            color: #fff;
            font-size: 15px;
            font-weight: 400;
            background: rgb(30, 28, 28) ;
            border: 1px solid  rgb(30, 28, 28);
              width: 100%;
            /* border: 1px solid #fff; */
            /* background: transparent; */
            height: 40px;
            margin-top: 10px;
            margin-bottom: 10px;
            /* padding: 20px; */
            font-size: 15px;
            font-weight: 400;
            border-radius: 5px;
        }
        .login-content p{
            /* padding: 20px; */
            margin-top: 20px;
        }
        #center{
            /* margin: auto; */
            text-align: center;
        }
        .password-a-tag{
            /* text-align: center; */
            color: #fff;
            /* margin-top: 10px; */
            /* margin: auto; */
        }
        .checkbox-btn{
            margin-top: 30px;
        }
        #pass-a-tag{
            margin-top: 10px;
        }

          input:focus{
            color: white;
        }
        input:focus::placeholder{
            color: white;
        }
        input{
            color: #fff;
        }

         nav img:hover{
            transform: scale(1.5,1.5);
            transition: transform 5s linear;
        }



        
        @media  screen and (max-width:576px) {
            .login-content{
                width: 90%;
                
            }
        }

        @media screen and (min-width:576px) and (max-width:999px){
           .login-content{
             width: 80%;
             margin: auto;
           } 
        }
        @media screen and (min-width:999px) and (max-width:1200px) {
            .login-content{
                width: 70%;
            }
            
        }

        .content5{
            width: 100%;
            height: 300px;
            padding: 80px ;
            background: rgb(22, 22, 22);
            /* margin-left: 50px; */
            /* background: #db0001; */
        }
        .content5 ul{
            /* width: 100%; */
            /* display: grid; */
            /* grid-template-columns: 1fr 1fr 1fr 1fr; */
            /* grid-template-rows: 1fr 1fr 1fr 1fr; */
            color: rgba(255,255,255,0.7);
             /* text-decoration: underline; */
            list-style: none;
            /* padding: 100px; */
        }
        .content5 ul li{
            padding: 10px;
            width: 20%;
            display: inline-block;
             text-decoration: underline;
            /* float: left; */
            /* clear: both; */
        }
        .content5 ul li a{
            color: rgba(255,255,255,0.7);
            text-decoration: none;
            font-size: 14px;
            font-weight: 400;
            /* text-decoration: underline; */
            
        }
        .content5 p{
            margin-top: 20px;
        }
          select{
            padding: 5px 20px;
            background: transparent;
            border: 1px solid rgba(255,255,255,0.7);
            color: rgba(255,255,255,0.7);
            font-size: 12px;
            cursor: pointer;
            margin-top: 20px;

        }
        select option{
            color: #000;
        }
        @media screen and (max-width:700px) {
            .content5{
                width: 100%;
                height: auto;
                /* height: max-content; */
                
            }
            .content5 ul li{
                width: 50%;
                float: left;
                /* display: flex; */
                /* height:500px ; */
            }
            .content5 p{
                width: 100%;
                /* padding-right: -50px ; */
            }
            
        }


    